<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md- offset-md-3 card">
      <div class="card-body">
        <form action="/update/<%= data.id %>" method="POST">
          <div class="form-group">
            <input  style="width: 40vw;"  type="text" name="name" value="<%= data.name%>" placeholder="... path" class="form-control" autofocus>
            </div>
          <button type="submit" class="btn btn-primary">
            save path
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
