<html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>     
  <div>       
    <p>     
      <pre id="text">                         
              ... loading
      </pre>
    </p>
  </div>
  <script>
    const textElement = document.getElementById("text");

    axios.get('/tree-view/').then(({ data: { text } }) => {
      textElement.innerHTML = text;        
    });
  </script>
</body>

</html>